.vscode/
downloads/
logs/
ruff.toml
__pycache__/
tile_info/
tables/
data/
figures/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
tile_info*/
notebooks/
.DS_Store
test-install.sh
unionsdata-test/
dist/
