# UNIONS Data Download Configuration
#
# After running 'unionsdata init', this file will be copied to:
#   Linux/Mac: ~/.config/unionsdata/config.yaml
#   Windows:   %APPDATA%/unionsdata/config.yaml
#
# Edit the paths under 'paths_by_machine' to match your system.
#

machine: local                                                     # canfar | narval | local

logging:
  name: download_test_cutouts
  level: INFO

runtime:
  n_download_threads: 12
  n_cutout_processes: 2
  bands: ["whigs-g", 'cfis_lsb-r', 'ps-i']                         # "cfis-u", "whigs-g", "cfis_lsb-r", "ps-i", "wishes-z"
  resume: false
  max_retries: 3                                                   # maximum number of download retries per file

tiles:
  update_tiles: false                                              # set to true to update tile list from the VOS vault
  show_tile_statistics: true
  band_constraint: 1                                               # min bands for a tile to qualify for download
  require_all_specified_bands: false                               # if true, only download tiles available in ALL specified bands

cutouts:
  enable: true                                                     # create cutouts
  cutouts_only: false                                              # if true, only download cutouts, not full tiles
  size_pix: 256                                                    # size of cutout in pixels, pixel scale: 0.1857 arcsec/pix
  output_subdir: "cutouts"                                         # subdirectory under tile directory to save cutouts

plotting:
  catalog_name: 'NGC5485_dwarfs'                                   # plot object cutouts from this catalog (file in tables directory: {catalog_name}_augmented.csv)
  bands: ["whigs-g", 'cfis_lsb-r', 'ps-i']                         # bands to use for RGB cutouts
  mode: "grid"                                                     # grid | channel
  max_cols: 7                                                      # max columns for grid mode
  figsize: null                                                    # figure size (width, height) in inches; null for automatic
  save_plot: true                                                  # save plots to disk
  show_plot: false                                                 # display plots interactively
  save_name: "{catalog_name}_cutouts.pdf"                          # filename for saved plot; supports {catalog_name} placeholder

  rgb:
    scaling_type: "asinh"  # 'asinh' or 'linear'
    stretch: 125.0
    Q: 7.0
    gamma: 0.25
    standard_zp: 30.0


inputs:
  # Choose the input source
  source: "dataframe"                                              # all_available | tiles | coordinates | dataframe
  # Pairs: [[x1, y1], [x2, y2], ...]
  tiles:
    - [268, 277]
    - [269, 277]
    - [274, 275]

  # Pairs: [[ra1, dec1], [ra2, dec2], ...]
  coordinates:
    - [227.3042, 52.5285]
    - [231.4445, 52.4447]

  dataframe:
    path: "/home/nick/astro/unionsdata/tables/NGC5485_dwarfs.csv"        # CSV with RA/Dec/ID columns
    columns:
      ra: "ra"                                                     # Right Ascension column name
      dec: "dec"                                                   # Declination column name
      id: "ID"                                                     # ID column name

paths_database:
  # These are joined under root_dir_main
  # No need to change these
  tile_info_dirname: "tile_info"
  logs_dirname:      "logs"

paths_by_machine:
  local:
    root_dir_main: "/home/nick/astro/unionsdata"
    root_dir_data: "/home/nick/astro/unionsdata/data"
    dir_tables: "/home/nick/astro/unionsdata/tables"
    dir_figures: "/home/nick/astro/unionsdata/figures"
    cert_path: "/home/nick/.ssl/cadcproxy.pem"

  canfar:
    root_dir_main: "/arc/home/heestersnick/unionsdata"
    root_dir_data: "/arc/projects/unions"
    dir_tables: "/arc/home/heestersnick/unionsdata/tables"
    dir_figures: "/arc/home/heestersnick/unionsdata/figures"
    cert_path: "/arc/home/heestersnick/.ssl/cadcproxy.pem"

  narval:
    root_dir_main: "/home/heesters/projects/def-sfabbro/heesters/github/TileSlicer"
    root_dir_data: "/home/heesters/projects/def-sfabbro/heesters/data/unions"
    dir_tables: "/home/heesters/projects/def-sfabbro/heesters/github/TileSlicer/tables"
    dir_figures: "/home/heesters/projects/def-sfabbro/heesters/github/TileSlicer/figures"
    cert_path: "/home/heesters/.ssl/cadcproxy.pem"

bands:
  cfis-u:
    name: "CFIS"
    band: "u"
    vos: "vos:cfis/tiles_DR6"
    suffix: ".u.fits"
    delimiter: "."
    fits_ext: 0
    zfill: 3
    zp: 30.0

  whigs-g:
    name: "calexp-CFIS"
    band: "g"
    vos: "vos:cfis/whigs/stack_images_CFIS_scheme"
    suffix: ".fits"
    delimiter: "_"
    fits_ext: 1
    zfill: 0
    zp: 27.0

  cfis_lsb-r:
    name: "CFIS_LSB"
    band: "r"
    vos: "vos:cfis/tiles_LSB_DR6"
    suffix: ".r.fits"
    delimiter: "."
    fits_ext: 0
    zfill: 3
    zp: 30.0

  ps-i:
    name: "PSS.DR4"
    band: "i"
    vos: "vos:cfis/panstarrs/DR4/resamp"
    suffix: ".i.fits"
    delimiter: "."
    fits_ext: 0
    zfill: 3
    zp: 30.0

  wishes-z:
    name: "WISHES"
    band: "z"
    vos: "vos:cfis/wishes_1/coadd"
    suffix: ".z.fits"
    delimiter: "."
    fits_ext: 1
    zfill: 0
    zp: 27.0

  ps-z:
    name: "PSS.DR4"
    band: "ps-z"
    vos: "vos:cfis/panstarrs/DR4/resamp"
    suffix: ".z.fits"
    delimiter: "."
    fits_ext: 0
    zfill: 3
    zp: 30.0
